
@{
    ViewBag.Title = "About";
}


<h1>Anställningar</h1>

<p>
    april 2020 - Systemutvecklare DIACCESS
    Ett projekt som går ut på att digitalisera delar av Växjö kommun. Vi har fram till nu byggt en chatbot, en app för att hjälpa asylsökande att ta del av information om det svenska samhället. Vi håller för närvarande på att bygga ett automatiskt system för att mäta snödjupet på fotbollsplaner med konstgräs för att så om dom behöver skottas samt en app där man kan se alla badplatser inom Växjö kommun.
</p>
<p>
    september 2016 ‐ april 2020 Teknisk projektledare Zenta AB
    Teknisk projektledare med ansvar för drift, utveckling, säkerhet och att tillsammans med kunden ta fram framtidsvisioner och genomföra dessa. Hade allt ansvar gällande tidsestimering, uppföljning osv mot kund.
</p>
<p></p>
    februari 2014 ‐ september 2016 IT-konsult (Dfind)
    Jobbade med flera olika projekt bland annat som projektledare, pc-tekniker och support-tekniker. Blev ombedd av Via Travel, som var den sista platsen jag var på, att stanna kvar som deras IT-ansvarig för deras site i Göteborg men då hade vi redan bestämt att vi skulle flytta tillbaka till Växjö. Så jag fick tyvärr tacka nej.
</p>
<p>
    september 2013 ‐ januari 2014 Webbutvecklare JiWa Göteborg (Maxkompetens)
    Ett kortare uppdrag som webbutvecklare på JiWa.
    Byggde deras sida efter en skiss gjord av dom. Driftsatte allt via kundens egen server.
</p>
<p>
    januari 2011 – juli 2012 Innesäljare Atea Sverige AB, Växjö
    Hjälper kunder med vilken typ av licenser dom behöver till sina system. Allt i från stora komplexa Windowssystem till något litet program kund har hittat på internet. Är med i hela kedjan från det att kunden ringer in tills det att kunden har fått licenserna. Även en hel del frågor angående installation, licensering och användning. Jobbade i Microsoft CRM, ärendehanteringssystem.
</p>


