
@{
    ViewBag.Title = "Projects";
}

<h1>Projects</h1>

<p>This is my projects</p>


<ol>
    <li><a href="https://github.com/shiva66/frontendhtmlcss">Front end</a></li>
    <li><a href="https://github.com/shiva66/react-native">React native</a></li>
    

</ol>





